<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">BSN</a>
        <button class="navbar-toggler" type="button" data-bs-toggler="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/books']">
                        <i class="fas fa-home-alt"></i>&nbsp;Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/books/my-books']" >
                        <i class="fas fa-book"></i>&nbsp;My Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/books/my-waiting-list']">
                        <i class="fas fa-heart"></i>&nbsp;My Waiting List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/books/my-returned-books']">
                        <i class="fas fa-home-alt"></i>&nbsp;My Returned Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/books/my-borrowed-books']">
                        <i class="fas fa-home-alt"></i>&nbsp;Borrowed Books
                    </a>
                </li>
            </ul>
            <form class="d-flex gap-2 align-items-center" role="search">
                <input class="form-control" type="text" placeholder="Find a book" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                <span>Welcome</span>
                <span class="text-capitalize fw-bold">Yuaud</span>
                <button class="btn btn-link" type="button" (click)="logout()"><i class="fas fa-door-open"></i></button>
            </form>
        </div>
    </div>
</nav>