

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.activate-message, .activate-error {
    text-align: center;
}
.activate-error {
    color: red;
}