<div class="container-fluid card login-container">
    <h3 class="mt-3 text-center">Create an Account</h3>
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg"> {{ msg }} </p>
    </div>
    <div class="mb-3">
        <label class="form-label" for="firstname">Firstname</label>
        <input [(ngModel)]="registerRequest.firstname" type="text" class="form-control" id="firstname" placeholder="John">
    </div>
    <div class="mb-3">
        <label class="form-label" for="lastname">Lastname</label>
        <input [(ngModel)]="registerRequest.lastname" type="text" class="form-control" id="lastname" placeholder="Wick">
    </div>
    <div class="mb-3">
        <label class="form-label" for="login">Email Address</label>
        <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="d-flex justify-content-between mb-3">
        <button (click)="register()" type="button" class="btn btn-primary">
            <em class="fas fa-sign-in-alt">&nbsp;Register</em>
        </button>
        <div>
            Already have an account?&nbsp;
            <button (click)="login()" type="button" class="btn btn-link">
                Login
            </button>
        </div>
    </div>    
</div>
